:root {
    --acc-color: #EB5E28;
    --positive-color: #AFFC41;
    --primary-background-color: #2F4550;
    --primary-text-color: #fff;
    --primary-border-color: #fff;
    --primary-content-background-color: #586F7C;
    --secondary-content-background-color: #586F7C;

    touch-action: pan-x pan-y;
    height: 100%
}

body {
    background-color: var(--primary-background-color);
    overflow: auto;
    height: 98%;
}

html {
    height: 98%;
}


/*
--------------------------------
-----TEXT-----------------------
--------------------------------
*/

h1 {
    color: var(--acc-color);
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

* {
    font-family: ui-sans-serif, sans-serif;
    color: var(--primary-text-color);
}


/*
--------------------------------
-----BUTTON---------------------
--------------------------------
*/

button {
    background-color: var(--primary-content-background-color);
    color: var(--primary-text-color);
    border: 2px solid var(--primary-border-color);
    border-radius: 5px;
}


/*
--------------------------------
-----LABLE----------------------
--------------------------------
*/

label {
    align-self: center;
    font-size: large;
}

/*
--------------------------------
-----SELECT---------------------
--------------------------------
*/

select {
    text-align: center;
    background-color: var(--primary-content-background-color);
    color: var(--primary-text-color);
    border: 1px solid var(--primary-border-color);
    /* border-radius: 10px; */
}


/*
--------------------------------
-----A--------------------------
--------------------------------
*/

a {
    text-decoration: none;
}


/*
--------------------------------
-----IMAGE----------------------
--------------------------------
*/

img {
    width: 32px;
    height: 32px;
}

.breakLine01 {
    width: 45%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

/*
--------------------------------
-----DIV------------------------
--------------------------------
*/

.FlexDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.HalfPageDiv {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
    overflow: auto;
}


.CategoriesDiv {
    display: flex;

}

@media screen and (max-width: 1300px) {
    .CategoriesDiv {
        display: block;
    }
}

.CategoryDiv {
    display: block;
    text-align: left;
    margin: 0px auto;
    width: fit-content;
    padding: 0 25px;
    text-wrap: nowrap;
    line-height: 24px;

}

.LRMargin {
    margin-right: 5%;
    margin-left: 5%;
}

#title_div {
    height: 8%;
}



/*
--------------------------------
-----Stuff----------------------
--------------------------------
*/



#penetration {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-size: 4em;

    width: 100%;
    text-align: center;

    position: sticky;
    top: 0;
}

#critDmg {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-size: 4em;

    width: 100%;
    text-align: center;

    position: sticky;
    top: 0;
}

#btn_start {
    display: flex;
    font-size: xx-large;
    justify-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

#btn_reset {
    border-radius: 0px;
    font-size: xx-large;
    left: 0;
    bottom: 0;
    position: fixed;
    width: auto;
}

/*
--------------------------------
-----Sidebar--------------------
--------------------------------
*/

#sidebar {
    transition: 0.5s;
    position: fixed;
    width: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: var(--primary-background-color);
    overflow: scroll;
    z-index: 1;
}

#sidebar_inner_free_space_div {
    width: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    margin-bottom: 140px;
}

#sidebar_inner_div {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--primary-content-background-color);
}



#sidebar_inner_contact {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--primary-text-color);
    font-size: 0.7em;
}

#btn_menu_open {
    border-radius: 0px;
    font-size: x-large;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 15%;
}

#btn_menu_close {
    border-radius: 0px;
    font-size: x-large;
    width: 100%;
}